__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
exp/
thumb.sdb
.DS_Store
.idea
wandb/
trained_models/
test.*
*.zip
ucfcrime_v2
top1log.pth
top5log.pth
X-CLIP/labels/chatgpt_k400_labels_prompt.csv
X-CLIP/top5log_round2.pth
X-CLIP/top5log_label_only.pth
X-CLIP/top1log_round2.pth
X-CLIP/top1log_label_only.pth
X-CLIP/cached_prompt_k400_filtered_1st_round.pth